{% macro pagination_widget(pagination, endpoint, fragment='', tag_name='') %}
    <ul class="pagination">
        <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
            {% if endpoint == '.tags' %}
                <a href="{% if pagination.has_prev %}{{ url_for(endpoint, tag_name = tag_name,
                    page = pagination.page - 1, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
                    上一页
                </a>
            {% else %}
                <a href="{% if pagination.has_prev %}{{ url_for(endpoint,
                    page = pagination.page - 1, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
                    上一页
                </a>
            {% endif %}
        </li>
        {% for p in pagination.iter_pages() %}
            {% if p %}
                {% if p == pagination.page %}
                <li class="active">
                    <a href="{% if endpoint == '.tags' %}{{ url_for(endpoint, page = p, tag_name = tag_name, **kwargs) }}{{ fragment }}
                    {% else %}{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}{% endif %}">{{ p }}</a>
                </li>
                {% else %}
                <li>
                    <a href="{% if endpoint == '.tags' %}{{ url_for(endpoint, page = p, tag_name = tag_name, **kwargs) }}{{ fragment }}
                    {% else %}{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}{% endif %}">{{ p }}</a>
                </li>
                {% endif %}
            {% else %}
            <li class="disabled"><a href="#">&hellip;</a></li>
            {% endif %}
        {% endfor %}
        <li{% if not pagination.has_next %} class="disabled"{% endif %}>
            {% if endpoint == '.tags' %}
                <a href="{% if pagination.has_next %}{{ url_for(endpoint, tag_name = tag_name,
                page = pagination.page + 1, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
                下一页
            </a>
            {% else %}
                <a href="{% if pagination.has_next %}{{ url_for(endpoint,
                page = pagination.page + 1, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
                下一页
            </a>
            {% endif %}
        </li>
    </ul>
{% endmacro %}